body{
    font-family: 'Oxygen', sans-serif;
}
footer{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: rgb(92, 92, 92); 
    text-align: start;
}

header{
    background-color: rgb(109, 109, 109);
    top: 0;
    left:0;
    width: 100%;
}

h1{
    color: blue;
}

.topnav {
    background-color: rgb(109, 109, 109);
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
    font-size: 20px;
}

.topnav2 {
    background-color: rgb(109, 109, 109);
    overflow: visible;
}

.topnav2 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.topnav3 {
    background-color: rgb(92, 92, 92);
    overflow: hidden;
}

.topnav3 a {
    float: right;
    display: block;
}

#logo{
    width: 274px; 
    height: 61px; 
    padding-top: 7px;
    padding-left: 5px;
}
