<!DOCTYPE html>
<html>
    
<head>
    {% load static %}
    {% block head %}
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'Header_logo_impacta.png'%}">
    <title>{{ title | upper }}</title>
    {% endblock head %}

    {% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'site.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    {% endblock css %}
</head>
    
<body>
    {% block header %}
    <header>
        <img src="{% static 'Header_logo_impacta.png'%}" width="200" height="170">
        <br>
        <br>
        <ul>
            <a href="{% url 'homepage' %}" ><li>Home Page</li></a>
            <a href="{% url 'listadocurso' %}" ><li>Lista de Cursos</li></a>
            <a href="{% url 'detalhedocurso' %}" ><li>Detalhe de Curso</li></a>
            <a href="{% url 'disciplina' %}" ><li>Disciplinas</li></a>
            <a href="{% url 'noticias' %}" ><li>Noticias</li></a>
        </ul>
    </header>  
    {% endblock header %}

    {% block h1 %}
    <h1>Home page - Faculdade Impacta</h1>
    {% endblock h1 %}
    <br>
    {% block content %}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt excepturi cumque voluptatem dolorum perspiciatis recusandae possimus, aliquid, officiis voluptas, ipsa eveniet commodi unde vero qui molestiae placeat officia error? Quibusdam!</p>
    {% endblock content %}
    {% block footer %}
    <footer>
        <p>Criado por: Alunos Nathalia, Tadeu, Tiberio e Vinicius</p>
    </footer>
    {% endblock footer %}
</body>
</html>