    <!DOCTYPE html>
    {% extends "index.html" %}
    <html>
        {% load static %}
    <head>
        {% block head %}
            {{block.super}}
        {% endblock head %}

        {% block css %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'noticias.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        {% endblock css %}
    </head>
    <body>
        
        {% block header %}
            {{block.super}}
        {% endblock header %}
            
        {% block h1 %}
        <h1> Notícias </h1>
        {% endblock h1 %}
        {% block content %}
        <p>Acompanhe as noticias mais recentes do mundo da tecnologia...lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt excepturi cumque voluptatem dolorum perspiciatis recusandae possimus, aliquid, officiis voluptas, ipsa eveniet commodi unde vero qui molestiae placeat officia error? Quibusdam!</p>
        {% endblock content %}
        {% block footer %}
            {{block.super}}
        {% endblock footer %}
    </body>
</html>